@use '@/styles/mixins' as mixins;

.hero {
  margin-bottom: 100px;
  @include mixins.tablet() {
    margin-bottom: 400px;
  }
}

.number {
  width: 100%;
  height: auto !important;
}

.title {
  height: 60px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  span {
    display: block;
    margin-right: 14px;
    animation-name: hand;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 75% bottom;
  }
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
